body {
  background-color: rgb(176, 207, 146);
  background-image: url("land-weather-forecast.jpg");
}

h1 {
  color: rgb(12, 132, 76);
  font-size: 75px;

}

p {
  color: rgb(0, 0, 0);
}

.content {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 45px;
  color: rgb(28, 28, 24);
  align-items: center;
}

.data{
  font-family: 'Times New Roman', Times, serif;
  color: black;
  font-size: 30px;
  align-items: center;
}
.re{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 25px;
}